/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 200px;
    font-size: 1.4em;
}

html {
    scroll-behavior: smooth;
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

header .logo{
    color: #ffffff;
    font-weight: 600;
    font-size: 3rem;
    text-decoration: none;
}

.navbar .logo span{
    color:aqua;
}

.navbar .menu-links{
    display: flex;
    list-style: none;
    gap: 350px;
}

.navbar a{
    color:#fff;
    text-decoration: none;
    transition: 0.2 ease;
}

.navbar a:hover{
    color: #472a1a;
}

.hero-section{
    height: 100vh;
    background-image: url("./images/coffe\ icon.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    color: #fff;
}

.hero-section .content{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    color:#fff;
}

.hero-section .content h2{
    font-size: 3rem;
    max-width: 600px;
    line-height: 70px; 
}

.hero-section .content p{
    font-weight: 350;
    max-width: 600px;
    margin-top: 15px;
}

.hero-section .content button{
    background: #fff;
    padding: 12px 30px;
    border-radius: 6px;
    margin-top: 38;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.hero-section .content button:hover{
    color:#fff;
    background: #472a1a;
}

#close-menu-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: none;
}

#hamburger-btn{
    color: #fff;
    cursor: pointer;
    display: none;
    width:100px;
}

@media( max-width: 768px){
    header{
        padding: 20px
    }
};
    
header .show-moblie-menu::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.navbar .logo{
    font-size: 2.5rem;
}

#hamburger-btn,
#close-menu-btn {
    display: block;
    position: fixed;
}

.navbar .menu-links{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #fff;
    flex-direction: 70px 40xp 0;
    transition: left 0.2s ease;
}
header.show-moblie-menu .navbar  .menu-links{
    left: 0;
}
.navbar a{
    color: #fff;
}

.hero-section .content {
    text-align: center;
}

.hero-section.content :is(h2, p){
    max-width: 100%;
};

.hero-section .content h2{
    font-size: 2.3rem;
    line-height: 60px;
}

.hero-section .content button {
    padding: 9px 18px;
}

