/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

header .logo{
    color: #fff;
    font-family: 600;
    font-size: 2.1em;
    text-decoration: none;
}

.navbar .logo span{
    color:aqua;
}

.navbar .menu-links{
    display: flex;
    list-style: none;
    gap: 35px;
}

.navbar a{
    color:#fff;
    text-decoration: none;
    transition: 0.2 ease;
}

.navbar a:hover{
    color: #c06b3e;
}

.hero-section{
    height: 100vh;
    background-image: url("./images/coffe\ icon.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    color: #fff;
}
